:root {
  --primary-color: #06182b;
  --text-color: #ffffff;
  --subtext-color: #bbc7e8;
  --link-hover-color: #5dd1ff;
  --link-hover--light: #88ddff;
  --content-padding: 20px;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%; /* Ensures the body takes full width */
  height: 100%; /* Ensures the body takes full height */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.App {
  display: flex;
  flex-direction: row;
  width: 100%; /* Uses the full width but respects max-width */
  max-width: 1200px; /* Sets a max-width for very wide screens */
  padding: var(--content-padding);
  box-sizing: border-box;
  position: relative; /* Ensures that fixed positioning is relative to App if needed */
  margin-bottom: 5vw;
}

.leftPanel {
  width: 50%;
  height: 100vh;
  padding: var(--content-padding);
  box-sizing: border-box;
  overflow-y: hidden; /*Ensures no vertical scrolling*/
  position: fixed; /*Keeps the panel fixed during scroll */
  left: 0; /* Aligns the panel to the left */
}

.rightPanel {
  width: 50%;
  padding: var(--content-padding);
  box-sizing: border-box;
  margin-left: 50%; /*Ensures it starts from the middle of the App */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*NAV BAR*/
.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbar ul {
  padding: 0;
}
.navbar a{
  text-decoration: none; /* Removes underline from links */

}
.navbar a:visited {
  color: inherit; /* Prevents color change on visited links */
}
.navbar li {
  list-style: none;
  padding: 10px;
  transition: background-color 0.3s;
}

.navbar li:hover {
  color: var(--link-hover--light);
}



@media (max-width: 768px) {
  .App {
    flex-direction: column;
    width: 100%; /* Takes full width on mobile */
    max-width: none;
  }

  .leftPanel, .rightPanel {
    width: 100%;
    padding: var(--content-padding);
    position: static; /* Resets to normal flow */
    height: auto; /* Allows height to be content-dependent */
    overflow-y: visible; /* Permits scrolling if content is longer */
    margin-left: 0%;

  }

  .navbar {
    display: none; /* Navbar is hidden in mobile view */
  }

}

.cursor-light {
  cursor: url('data:image/svg+xml;utf8,<svg height="32" width="32" xmlns="http://www.w3.org/2000/svg"><circle cx="16" cy="16" r="10" fill="white"/></svg>'), auto;
}

/*PERSONAL*/
.personal h1, .personal h3 {
  margin: 0;
  padding: 0;
}

.personal .role {
  margin-top: 0.25rem; /* Reduced space between name and role */
  margin-bottom: 1rem;
  color: var(--link-hover-color);
}

/*CONTACTS*/

.contacts .subtext {
  color: var(--subtext-color); /* Less prominent text color */
  margin: 0; /* Closer spacing between contact details */
  font-size: .8rem;
  margin: 0;
  padding: 0;
}

/*ABOUT*/
.about{
  max-width: 350px;
  font-size: .9rem;
  color: var(--subtext-color);
}

/*SKILLS (programming language)*/
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem 0;
}

.card {
  width: 2rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.icon {
  font-size: 2.1rem; /* Adjust size based on your icon font */
  color: var(--text-color);
  transition: transform 0.5s ease-in-out;
}

.language-name {
  margin-top: 1rem;
  color: var(--text-color);
  font-size: 1.2rem;
}

.card:hover .icon {
  transform: scale(1.2); /* Enlarges the icon */
}

/* Experience */
.experience {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 2rem;
}

.experience-card {
  margin-bottom: 1rem;
  padding: 10px;
  transition: background-color 0.3s ease-in-out;
  border: 0.05px solid ; /*Subtle border var(--subtext-color) */
}

.date {
  font-size: 0.9rem;
  color: var(--subtext-color);
}

.company {
  font-size: 1.1rem;
  color: var(--text-color);
  transition: color 0.3s ease-in-out;
  margin-bottom: 0;
}

.role {
  font-size: 0.9rem;
  color: var(--subtext-color);
  margin-top:0; /* Tight spacing with company */
}

.detail {
  font-size: 0.8rem;
  color: var(--text-color);
  margin-top: 0.5rem;
}

.experience-card:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Translucent glass color */
}

.experience-card:hover .company {
  color: var(--link-hover-color); /* Change company color on hover */
}


@media (min-width: 768px) {
  .experience-card {
    flex-direction: row; /* Display items in a row on larger screens */
    align-items: center;
  }

  .date {
    margin-right: 1rem; /* Add spacing between date and other content */
  }
}


/* Projects */
.projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 0;
}

.project-card {
  align-items: center; /* Aligns items vertically */
  justify-content: flex-start; /* Aligns items to the start of the flex line */
  margin-bottom: 1rem;
  transition: background-color 0.3s ease-in-out;
  padding: 0.5rem;
}

.ll:hover{
  background-color: rgba(255, 255, 255, 0.1); /* Translucent glass color */
}

.project-name {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-right: 10px; /* Space between name and description */
  cursor: pointer;
  margin:0;
  transition: color 0.3s ease-in-out;

}



.ll:hover .project-name {
  color: var(--link-hover-color); /* Change company color on hover */
}

.project-description {
  font-size: 0.9rem;
  color: var(--subtext-color);
  margin: 0;
  flex-grow: 1; /* Allows description to take available space */
}

.technologies {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* Align technology tags vertically */
}

.tech-tag {
  border: 2px solid var(--link-hover--light);
  color: var(--link-hover--light);
  border-radius: 100px; /* Rounded corners */
  padding: 3px 6px;
  margin-right: 5px; /* Space between tags */
  margin-bottom: 5px; /* Space between rows of tags */
  font-size: 0.7rem;
  transition: background-color 0.3s ease-in-out;
}

/* Ensure consistency in layout across all devices */
@media (max-width: 768px) {
  .project-card {
    flex-direction: row; /* Maintain row layout in mobile view */
  }

  .technologies {
    padding: 0;
  }
}

/*EDUCATION*/
.education {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
}

.education h4 {
  color: var(--text-color);
  margin-bottom: 1.25rem;
}

.education-card {
  background-color: var(--primary-color);
  color: var(--text-color);
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  transition: background-color 0.3s ease-in-out, background-image 0.5s ease-in-out;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}


.univ-logo{
  width: 4rem;
}
.univ-name{
  margin: .25rem 0 0 0;
  
}
.degree {
  color: var(--subtext-color);
  font-size: 0.9rem;
  margin-top: 0;
}

.achievement {
  font-size: 0.8rem;
  color: var(--text-color);
  border-left: 0.125rem solid var(--link-hover--light);
  padding-left: 0.3125rem;
  margin-top: 0.125rem;
}

@media (max-width: 768px) {
  .education-card {
    padding: 0.625rem;
    margin-bottom: 0.625rem;
  }
}
